Q1: Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
#Open the webpage with webdriver
driver.get('https://www.naukri.com/')

In [4]:
#Finding elements for search bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys('Data Analyst')
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Banglore')

In [5]:
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

Now, We will create four empty list to store the scrap data.

In [6]:
job_title=[]
job_location=[]
comapany_name=[]
exp_req=[]

Now, we will extract all the datas having job_titles

In [7]:
title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

We will extract all the text from the above tags and store it  in above empty list through for loop.

In [8]:
for i in title_tag:
    title=i.text
    job_title.append(title)
job_title[0:4]

['Data Engineer/Data Analyst- Chennai',
 'Azure Data Analyst',
 'Data Analyst',
 'Executive - Data Analyst']

We will repeat the above steps for job_location

In [9]:
location_tag=driver.find_elements_by_xpath("//ul[@class='mt-7']/li[3]")

In [10]:
job_location=[]
for i in location_tag:
    loc=i.text
    job_location.append(loc)
job_location[0:4]

['Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Devalapur)',
 'Bangalore/Bengaluru']

We will repeat the above steps for company_name

In [11]:
comp_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [12]:
for i in comp_tag:
    comp=i.text
    comapany_name.append(comp)
comapany_name[0:4]

['Inflexion Analytix Private Limited',
 'Capgemini Technology Services India Limited',
 'Super India Tech Mark',
 'Flipkart Internet Private Limited']

We will repeat the above steps for experience_required

In [13]:
exp_tag=driver.find_elements_by_xpath("//ul[@class='mt-7']/li[1]")

In [14]:
for i in exp_tag:
    exp=i.text
    exp_req.append(exp)
exp_req[0:4]

['0-2 Yrs', '6-8 Yrs', '0-2 Yrs', '1-3 Yrs']

We will check the length of all four lists

In [15]:
print(len(job_title),len(job_location),len(comapany_name),len(exp_req))

20 20 20 20

All have the same length

Then we will taken all the datas from the lists to Data Frame

In [16]:
import pandas as pd
job=pd.DataFrame({})
job['Title']=job_title[0:10]
job['Location']=job_location[0:10]
job['Company_Name']=comapany_name[0:10]
job['Experience']=exp_req[0:10]

In [17]:
job

,Title,Location,Company_Name,Experience
0,Data Engineer/Data Analyst- Chennai,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Inflexion Analytix Private Limited,0-2 Yrs
1,Azure Data Analyst,Bangalore/Bengaluru,Capgemini Technology Services India Limited,6-8 Yrs
2,Data Analyst,Bangalore/Bengaluru(Devalapur),Super India Tech Mark,0-2 Yrs
3,Executive - Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,1-3 Yrs
4,Data Analyst,Bangalore/Bengaluru,CONDUENT BUSINESS SERVICES INDIA LLP,1-2 Yrs
5,"Data Analyst - Alteryx, Tableau and SQL",Bangalore/Bengaluru,Schneider Electric,2-5 Yrs
6,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-8 Yrs
9,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs

In [18]:
driver.close()

Q2: Write a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [19]:
#Connecting to webdriver and getting webpage through it.
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')
driver.get('https://www.naukri.com/')

In [20]:
#Finding elements for search bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys('Data Scientist')
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Banglore')
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button").click()

We will create four empty lists to store the scrapped data.

In [21]:
j_title=[]
j_loc=[]
c_name=[]

Now, we will extract all the tags for job_title and store it in j_title list as text

In [22]:
title_tag=driver.find_elements_by_xpath("//a[@class=('title fw500 ellipsis')]")
for i in title_tag:
    j_title.append(i.text)
j_title[0:4]

['Data Scientist',
 'Data Scientist - Machine Learning',
 'Data Scientist - IBM Garage',
 'GAMMA Lead Data Scientist']

We will follow the above steps for job_location and company_name.

In [23]:
loc_tag=driver.find_elements_by_xpath("//ul[@class=('mt-7')]/li[3]")
for i in loc_tag:
    j_loc.append(i.text)
j_loc[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Mumbai, New Delhi, Chennai, Bangalore/Bengaluru']

In [24]:
c_tag=driver.find_elements_by_xpath("//a[@class=('subTitle ellipsis fleft')]")
for i in c_tag:
    c_name.append(i.text)
c_name[0:4]

['CronJ IT Technologies Private Limited',
 'AugmatrixGo',
 'IBM India Pvt. Limited',
 'Boston Consulting Group']

Checking length of lists

In [25]:
print(len(j_title),len(j_loc),len(c_name))

20 20 20

All list have the same length

Then we will taken all the datas from the lists to Data Frame

In [26]:
job=pd.DataFrame({})
job['Title']=j_title[0:10]
job['Location']=j_loc[0:10]
job['Company_Name']=c_name[0:10]

In [27]:
job

,Title,Location,Company_Name
0,Data Scientist,Bangalore/Bengaluru,CronJ IT Technologies Private Limited
1,Data Scientist - Machine Learning,Bangalore/Bengaluru,AugmatrixGo
2,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited
3,GAMMA Lead Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group
4,DBCG IND - GAMMA Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group
5,Data Scientist/Senior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",GANIT BUSINESS SOLUTIONS PRIVATE LIMITED
6,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.
7,Data Scientist,Bangalore/Bengaluru,Schneider Electric India Pvt. Ltd.
8,Associate Data Scientist - CRM & Loyalty,Bangalore/Bengaluru,Shell India Markets Private Limited
9,Data Scientist - Business Analytics,Bangalore/Bengaluru,Philips India Limited

In [28]:
driver.close()

Q3: In this question you have to scrape data using the filters available on the 
webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field 
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done 
manually.

In [29]:
#connecting with webdriver and opening webpage with it.
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')
driver.get('https://www.naukri.com/')

In [30]:
#searching the elements
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys('Data Scientist')
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button").click()

In [31]:
#Using filter
loc=driver.find_elements_by_xpath("//div[@class='mt-8 chckBoxCont']/label[1]/p[1]/span[1]")
for i in loc:
    if i.text=='Delhi / NCR':
        i.click()
        break

In [32]:
sal=driver.find_elements_by_xpath("//div[@class='mt-8 chckBoxCont']/label[1]/p[1]/span[1]")
for i in sal:
    if i.text=='3-6 Lakhs':
        i.click()
        break

Creating empty list for storing data

In [33]:
job_title=[]
job_location=[]
comapany_name=[]
exp_req=[]

Extracting data from respective tags and appending it in repective lists

In [34]:
title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tag:
    job_title.append(i.text)
comp_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for j in comp_tag:
    comapany_name.append(j.text)
loc_tag=driver.find_elements_by_xpath("//ul[@class='mt-7']/li[3]/span")
for k in loc_tag:
    job_location.append(k.text)
exp_tag=driver.find_elements_by_xpath("//ul[@class='mt-7']/li[1]/span")
for l in exp_tag:
    exp_req.append(l.text)

Checking length of lists

In [35]:
print(len(job_title),len(job_location),len(comapany_name),len(exp_req))

20 20 20 20

All lists have the same length

Then we will taken all the datas from the lists to Data Frame

In [36]:
import pandas as pd
job=pd.DataFrame({})
job['Title']=job_title[0:10]
job['Location']=job_location[0:10]
job['Company_Name']=comapany_name[0:10]
job['Experience']=exp_req[0:10]

In [37]:
job

,Title,Location,Company_Name,Experience
0,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,5-8 Yrs
1,Females Required- Data Scientist- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",Randstad,3-7 Yrs
2,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",FUTURES AND CAREERS,2-7 Yrs
3,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",FUTURES AND CAREERS,2-7 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-5 Yrs
5,Data Scientist - Hadoop/BigQuery,Noida,Jubna,3-6 Yrs
6,Data Scientist - Python / Machine Learning / T...,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",FUTURES AND CAREERS,3-8 Yrs
7,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",FUTURES AND CAREERS,2-7 Yrs
8,Required- Data Scientist (NLP)-Axis Bank - 6 m...,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",Axis Bank Limited,4-9 Yrs
9,Data Scientist - Python / Machine Learning / T...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",FUTURES AND CAREERS,3-8 Yrs

In [38]:
driver.close()

Q4: Write a python program to scrape data for first 10 job results for Data scientist 
Designation in Noida location. You have to scrape company_name, No. of days 
ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” 
in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown 
page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done 
manually.

Connect to webdriver and get website throught it.

In [39]:
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')
driver.get('https://www.glassdoor.co.in/index.htm')

Finding element for serach bar

In [40]:
search_job=driver.find_element_by_id("sc.keyword")
search_job.send_keys('Data Scientist')
search_loc=driver.find_element_by_id("sc.location")
search_loc.send_keys('Noida')

In [41]:
search_button=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']").click()

Creating empty lists for storing data from tags as text

In [42]:
days_posted=[]
company_name=[]
rating=[]

Extracting data from respective tags and appending it in repective lists

In [43]:
title_tag=driver.find_elements_by_xpath("//div[@class='d-flex flex-column pl-sm css-1d3xmk8 e1rrn5ka4']/div[1]/a[1]")
for i in title_tag:
    company_name.append(i.text)

In [44]:
days_tag=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between css-1qtdns2']/div[2]")
for j in days_tag:
    days_posted.append(j.text)

In [45]:
rating_tag=driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']/span")
for k in rating_tag:
    rating.append(k.text)

checking the length of string

In [46]:
print(len(company_name),len(days_posted),len(rating))

30 30 18

since all entries do not have rating

In [47]:
job2=pd.DataFrame({})
job2['Company_Name']=company_name[0:10]
job2['No. of days ago']=days_posted[0:10]
job2['Rating']=rating[0:10]

In [48]:
job2

                                     Company_Name No. of days ago Rating
0                       Unyscape Infocom Pvt. Ltd             24h    4.1
1                                  Biz2Credit Inc            30d+    3.8
2                    Salasar New Age Technologies            30d+    4.4
3                                           Adobe             13d    5.0
4                                        Techlive            30d+    4.0
5                    Salasar New Age Technologies            30d+    5.0
6                                   Aedifico Tech            30d+    4.0
7                                 SearchUrCollege            30d+    4.4
8            Decision Tree Analytics And Services              5d    5.0
9  EMVEE Information Technologies Private Limited             24h    3.8

In [49]:
driver.close()

Q5: Write a python program to scrape the salary data for Data Scientist designation 
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company 
name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually.

Connecting to webdriver and getting website through it

In [50]:
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')
driver.get(' https://www.glassdoor.co.in/Salaries/index.htm')

Finding element for search bar

In [51]:
search_job=driver.find_element_by_xpath("//input[@class='keyword']")
search_job.send_keys('Data Scientist')
search_loc=driver.find_element_by_xpath("//input[@class='loc']")
search_loc.send_keys('Noida')

In [52]:
search_button=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']").click()

Creating empty lists to store data from tags in text form

In [53]:
comp_name=[]
no_sal=[]
avg_sal=[]
min_sal=[]
max_sal=[]

Extracting data from respective tags and append then to above empty list respectively

In [54]:
cname_tag=driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[2]")
for i in cname_tag:
    comp_name.append(i.text)
comp_name[0:4]

['Tata Consultancy Services', 'Accenture', 'Delhivery', 'IBM']

In [55]:
sal_tag=driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[5]")
for i in sal_tag:
    no_sal.append(i.text)
no_sal[0:4]

['14 salaries', '14 salaries', '14 salaries', '13 salaries']

In [56]:
avg_tag=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
for i in avg_tag:
    avg_sal.append(i.text.replace('\n',''))
avg_sal[0:4]

['₹ 5,97,967/yr', '₹ 11,12,243/yr', '₹ 12,12,741/yr', '₹ 7,37,972/yr']

In [57]:
min_tag=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]")
for i in min_tag:
    min_sal.append(i.text)
min_sal[0:4]

['₹333K', '₹560K', '₹436K', '₹569K']

In [58]:
max_tag=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")
for i in max_tag:
    max_sal.append(i.text)
max_sal[0:4]

['₹1,080K', '₹2,147K', '₹11,274K', '₹2,648K']

Checking length of lists

In [59]:
print(len(comp_name),len(no_sal),len(avg_sal),len(min_sal),len(max_sal))

20 20 20 20 20

All lists have have length

In [60]:
job=pd.DataFrame({})
job['Company_Name']=comp_name[0:10]
job['No. of Salaries']=no_sal[0:10]
job['Average_Salary ']=avg_sal[0:10]
job['Minimum_Salary']=min_sal[0:10]
job['Maximum_Salary']=max_sal[0:10]

In [61]:
job

,Company_Name,No. of Salaries,Average_Salary,Minimum_Salary,Maximum_Salary
0,Tata Consultancy Services,14 salaries,"₹ 5,97,967/yr",₹333K,"₹1,080K"
1,Accenture,14 salaries,"₹ 11,12,243/yr",₹560K,"₹2,147K"
2,Delhivery,14 salaries,"₹ 12,12,741/yr",₹436K,"₹11,274K"
3,IBM,13 salaries,"₹ 7,37,972/yr",₹569K,"₹2,648K"
4,Ericsson-Worldwide,12 salaries,"₹ 7,15,984/yr",₹350K,"₹1,565K"
5,UnitedHealth Group,10 salaries,"₹ 13,41,900/yr","₹1,037K","₹1,500K"
6,Valiance Solutions,9 salaries,"₹ 7,90,812/yr",₹487K,"₹1,421K"
7,Innovaccer,8 salaries,"₹ 11,81,047/yr",₹602K,"₹1,644K"
8,ZS Associates,7 salaries,"₹ 9,89,924/yr",₹196K,"₹1,755K"
9,EXL Service,7 salaries,"₹ 11,73,127/yr",₹558K,"₹1,500K"

In [62]:
driver.close()

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and 
more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page 
you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of 
the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually.

Connecting to webdriver and getting the website through it

In [63]:
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')
driver.get(' https://www.flipkart.com/')

Searching element for search bar

In [64]:
search_pro=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_pro.send_keys('sunglasses')
search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

Creating empty lists to store data from tag

In [65]:
brand=[]
prod_descrip=[]
price=[]
discount=[]

Getting URLs of page 1,2 & 3

In [66]:
urls=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
URL=[]
for i in urls[0:3]:
    URL.append(i.get_attribute('href'))

Extracting data from respective tag from all the three pages

In [67]:
for url in URL:
    driver.get(url)
    bd=driver.find_elements_by_xpath("//div[@class='_2B099V']/div[1]")
    for i in bd:
        brand.append(i.text)
    pd=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    for i in pd:
        prod_descrip.append(i.text)
    pr=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div[1]/div[1]")
    for i in pr:
        price.append(i.text)
    dis=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div[1]/div[3]")
    for i in dis:
        discount.append(i.text)

Checking length of lists

In [68]:
print(len(brand),len(prod_descrip),len(price),len(discount))

120 120 120 120

All the lists have equal length

Sending the data to Data Frame

In [69]:
import pandas as pd
sunglass=pd.DataFrame({})
sunglass['BRAND']=brand[0:100]
sunglass['Product_Description']=prod_descrip[0:100]
sunglass['PRICE']=price[0:100]
sunglass['DISCOUNT']=discount[0:100]

In [70]:
sunglass

,BRAND,Product_Description,PRICE,DISCOUNT
0,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹426,88% off
1,PIRASO,UV Protection Over-sized Sunglasses (60),₹179,88% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹683,24% off
3,PIRASO,UV Protection Aviator Sunglasses (54),₹187,88% off
4,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹469,53% off
...,...,...,...,...
95,Fastrack,UV Protection Wayfarer Sunglasses (54),₹559,37% off
96,ROYAL SON,UV Protection Wayfarer Sunglasses (55),₹237,81% off
97,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
98,NuVew,"UV Protection, Gradient, Night Vision, Mirrore...",₹295,70% off
99,NuVew,"UV Protection, Gradient Cat-eye Sunglasses (63)",₹296,80% off

In [71]:
driver.close()

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to 
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are 
1. Rating 
2. Review_summary 
3. Full review
You have to scrape this data for first 100 reviews.

Connecting webdriver and getting the website

In [72]:
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

Opening all the review by clicking it

In [73]:
search_rev=driver.find_element_by_xpath("//div[@class='col JOpGWq']/a").click()

Extracting urls of 10 pages and string it in URL list

In [74]:
urls=driver.find_elements_by_xpath("//nav[@class=('yFHi8N')]/a")
URL=[]
for i in urls:
    URL.append(i.get_attribute('href'))

Creating empty lists to store data

In [75]:
rating=[]
rev_sum=[]
ful_rev=[]

Extracting data from all 10 pages and storing data from respective tags to their respective lists

In [76]:
for url in URL[0:10]:
    driver.get(url)
    rat=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
    for i in rat:
        rating.append(i.text)
    r_sum=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/p[1]")
    for j in r_sum:
        rev_sum.append(j.text)
    f_rev=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[2]")
    for k in f_rev:
        ful_rev.append(k.text)

Checking length of lists

In [77]:
print(len(rating),len(rev_sum),len(ful_rev))

100 100 100

All lists have same length

importing data from lists to data frame

In [78]:
import pandas as pd
review=pd.DataFrame({})
review['Rating']=rating[:]
review['Review_Summary']=rev_sum[:]
review['Full_Review']=ful_rev[:]

In [79]:
review

,Rating,Review_Summary,Full_Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
...,...,...,...
95,5,Fabulous!,Everything is perfect pictures come out so cle...
96,5,Wonderful,Nice value for money good and best price I pho...
97,5,Terrific,I got this beast today. And I must say the pic...
98,5,Worth every penny,iPhone is delivered on time. Display is great ...
99,5,Must buy!,I will just say its an awesome phone. Starting...

In [80]:
driver.close()

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and 
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.
Also note that all the steps required during scraping should be done through code 
only and not manually.

Connecting webdriver and getting website

In [81]:
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')
driver.get(' https://www.flipkart.com/')

Searching element for search bar

In [82]:
search_sneaker=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_sneaker.send_keys('sneakers')
search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

Exracting urls from all pages and storing in URL lists

In [83]:
urls=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
URL=[]
for i in urls:
    URL.append(i.get_attribute('href'))

Creating empty lists

In [84]:
BRAND=[]
pro_descrip=[]
PRICE=[]
DISCOUNT=[]

Extracting data from first 3 pages and storing data from respecting tags in text form to respective lists

In [85]:
for url in URL[0:3]:
    driver.get(url)
    bd=driver.find_elements_by_xpath("//div[@class='_2B099V']/div[1]")
    for i in bd:
        BRAND.append(i.text)
    pd=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    for i in pd:
        pro_descrip.append(i.text)
    price=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div[1]/div[1]")
    for i in price:
        PRICE.append(i.text)
    discount=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div[1]/div[3]")
    for i in discount:
        DISCOUNT.append(i.text)

Checking length of lists

In [86]:
print(len(BRAND),len(pro_descrip),len(PRICE),len(DISCOUNT))

120 120 120 118

Some items do not have discounts , so length of DISCOUNT is less than other

In [87]:
import pandas as pd
sneakers=pd.DataFrame({})
sneakers['BRAND']=BRAND[0:100]
sneakers['Product_Description']=pro_descrip[0:100]
sneakers['PRICE']=PRICE[0:100]
sneakers['DISCOUNT']=DISCOUNT[0:100]

In [88]:
sneakers

,BRAND,Product_Description,PRICE,DISCOUNT
0,French Connection,Sneakers For Men,₹680,65% off
1,Chevit,Men's Combo Pack of 02 Shoes for Men Casual Sn...,₹420,57% off
2,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹499,72% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
4,Chevit,Super & Trendy Men's Pack of 02 Pair Shoes for...,₹420,78% off
...,...,...,...,...
95,World Wear Footwear,Latest Collection-349 Stylish Casual Sports Sn...,₹169,47% off
96,ROCKFIELD,Sneakers For Men,₹379,54% off
97,MOU,Zar Check Sneakers Sneakers For Men,₹529,57% off
98,Robbie jones,Sneakers For Men,₹451,58% off
99,Chevit,Men's Combo Pack of 02 Shoes for Men Casual Sn...,₹420,65% off

In [89]:
driver.close()

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in 
the below image
And then scrape First 100 shoes data you get. The data should include “Brand” of 
the shoes , Short Shoe description, price of the shoe as shown in the below image.
Please note that applying the filter and scraping the data , everything should be 
done through code only and there should not be any manual step.

Connecting webdriver and getting website

In [90]:
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')
driver.get(' https://www.myntra.com/shoes')

Filtering data

In [91]:
filter_2=driver.find_elements_by_xpath("//li[@class='colour-listItem']")
for j in filter_2:
    if j.text=='Black (17162)':
        j.click()
        break

In [92]:
filter_1=driver.find_elements_by_xpath("//ul[@class='price-list']/li")
for i in filter_1:
    if i.text=='Rs. 6657 to Rs. 13105(612)':
        i.click()
        break

Creating empty lists

In [93]:
BRAND=[]
Descrip=[]
PRICE=[]

Extracting urls of all the pages

In [94]:
url=driver.find_elements_by_xpath("//ul[@class='pagination-container']/li/a")
URL=[]
for i in url:
    URL.append(i.get_attribute('href'))

Extracting data from two pages and storing in repecting lists from extracting from respecting tags in text form.

In [95]:
for i in URL[0:2]:
    driver.get(i)
    bd=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in bd:
        BRAND.append(i.text)
    des=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in des:
        Descrip.append(i.text)
    price=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]/span[1]")
    for i in price:
        PRICE.append(i.text)

Checking length of lists

In [96]:
print(len(BRAND),len(Descrip),len(PRICE))

100 100 41

Since there is an expection, as item where there is no discount mention, can't scrap it

In [97]:
sneaker2=pd.DataFrame({})
sneaker2['BRAND']=BRAND[0:40]
sneaker2['DESCRIPTION']=Descrip[0:40]
sneaker2['PRICE']=PRICE[0:40]

In [98]:
sneaker2

              BRAND                          DESCRIPTION      PRICE
0              Nike           Men AIR ZOOM Running Shoes  Rs. 10121
1              ALDO                  Men Leather Loafers   Rs. 7799
2              Nike           Men React Infinity Running  Rs. 10846
3              Nike        Men REACT MILER Running Shoes   Rs. 8246
4   PUMA Motorsport        Unisex Mercedes Running Shoes   Rs. 7197
5              Nike                  Women Running Shoes   Rs. 6996
6              Nike         Women AIR ZOOM Running Shoes  Rs. 10496
7              Nike       AIR ZOOM PEGASUS Running Shoes   Rs. 8396
8              Nike            Women ZOOM SPAN 3 Running   Rs. 7721
9              Nike            Men JOYRIDE Running Shoes  Rs. 10121
10             Nike            Women REACT Running Shoes   Rs. 7149
11             Nike          Men JORDAN DELTA Basketball   Rs. 7499
12             Nike         Men KD13 EP Basketball Shoes   Rs. 7492
13             Puma  Men Mesh Fuse Training Or Gym Shoes   Rs. 7693
14         Skechers        Men VIPER COMPETITOR Training   Rs. 9443
15             Nike         Women AIR ZOOM Running Shoes   Rs. 7499
16             Nike           Women REACT ESCAPE Running   Rs. 8499
17         Skechers                   Women UNO Sneakers   Rs. 6993
18             Nike               Women AIR ZOOM Running   Rs. 7499
19          Bugatti  Men Textured Leather Formal Loafers   Rs. 9349
20             Puma           Men Velocity Nitro Running   Rs. 6749
21     Hush Puppies    Men Solid Leather Formal Slip-Ons   Rs. 7039
22     UNDER ARMOUR         HOVR Guardian 2 Sports Shoes   Rs. 6993
23     UNDER ARMOUR           HOVR Sonic 3 Running Shoes   Rs. 6993
24     UNDER ARMOUR       Men HOVR STRT Sportstyle Shoes   Rs. 6675
25     UNDER ARMOUR          Women Liquify Rebel Running   Rs. 7440
26             Nike            Men JORDAN DELTA Sneakers   Rs. 7117
27             Puma                    Men Running Shoes  Rs. 11999
28     UNDER ARMOUR       Women TriBase Reign 2 Training   Rs. 7192
29     UNDER ARMOUR           HOVR Sonic 3 Running Shoes   Rs. 8992
30     Hush Puppies                    Men Formal Derbys   Rs. 7117
31             Puma           Men Liberate Nitro Running   Rs. 9793
32     UNDER ARMOUR           Women HOVR Rise 2 Training   Rs. 7192
33     UNDER ARMOUR            Men Liquify Running Shoes   Rs. 6749
34         Skechers           Women D'LITES 3.0 Sneakers   Rs. 7492
35     UNDER ARMOUR           Women Charged Breathe TR 2   Rs. 7499
36             Puma                    Men Running Shoes  Rs. 11242
37          Bugatti      Men Solid Leather Formal Derbys   Rs. 9742
38     UNDER ARMOUR        Charged Impulse Running Shoes   Rs. 7867
39             Puma          SPEED Orbiter Running Shoes   Rs. 9367

In [99]:
driver.close()

Q10: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the 
below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes 
for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

Connecting webdriver and getting webpage

In [100]:
driver=webdriver.Chrome(r'C:\Users\Nitin Singh Tatrari\Downloads\chromedriver_win32\chromedriver.exe')
driver.get(' https://www.amazon.in/')

Finding elements for search tag

In [101]:
search_lap=driver.find_element_by_id("twotabsearchtextbox")
search_lap.send_keys('Laptop')
search_button=driver.find_element_by_id("nav-search-submit-button").click()

Filtering

In [102]:
filter_1=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_1:
    if i.text=='Intel Core i7':
        i.click()
        break

In [103]:
filter_2=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_2:
    if i.text=='Intel Core i9':
        i.click()
        break

Creating empty lists

In [104]:
TITLE=[]
RATING=[]
PRICE=[]

In [105]:
title=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a/span")
for i in title:
    TITLE.append(i.text)

In [106]:
TITLE[0:4]

['Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (16GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Xᵉ Graphics/Pine Grey/1.17 kg), UX425EA-BM701TS',
 'HP 14 Thin & Light 14-inch FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'Dell Alienware m15(R3) 15.6-inch FHD Gaming Laptop (10th Gen Core i7-10750H/16GB/512GB SSD/Windows 10 Home & MS Office/6GB NVIDIA GTX 1660 Ti Graphics), Lunar Light']

In [107]:
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in price:
    PRICE.append(i.text)
PRICE[0:4]

['86,690', '95,993', '76,500', '1,98,590']

In [108]:
rating=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
for i in rating:
    RATING.append(i.text)

In [109]:
RATING[0:4]

[]

Not able to scrap rating, Thus we will leave it

In [110]:
print(len(TITLE),len(PRICE))

26 25

In [112]:
Laptop=pd.DataFrame({})
Laptop['TITLE']=TITLE[0:10]
Laptop['PRICE']=PRICE[0:10]

In [113]:
Laptop

                                               TITLE     PRICE
0  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    86,690
1  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...    95,993
2  HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...    76,500
3  Dell Alienware m15(R3) 15.6-inch FHD Gaming La...  1,98,590
4  Mi Notebook Horizon Edition 14 Intel Core i5-1...    53,999
5  ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms...  5,22,077
6  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...  1,35,490
7  (Renewed) Lenovo Thinkpad Yoga S1 Laptop (CORE...    47,190
8  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  2,77,390
9  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...    95,993

In [114]:
driver.close()